# Logs
public/*.log
public/npm-debug.log*
public/yarn-debug.log*
public/yarn-error.log*
public/pnpm-debug.log*
public/lerna-debug.log*


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env